*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:Calibri;
}

header{
	background-color: #333;
	color:#fff;
	padding:20px 60px;
	display:flex;
	justify-content:space-between;
	align-items: center;
	position:sticky;
	top:0;
	z-index:100;
}
.logo{
	font-size:32px;
	font-weight:bold;
	text-transform: uppercase;
}
.logo a{
	color:#fff;
	text-decoration: none;
}
nav{
	display:flex;
	align-items: center;
}
nav ul{ display:flex;
        align-items:center;
        justify-content: center;
}
nav ul li{
	margin-left:25px;
	list-style:none;	
}
nav ul li a{
	color:#fff;
	text-decoration: none;
	font-size:19px;
	font-weight:bold;
	transition:0.4s ease;
}
nav ul li a:hover{
	color:#6a9492;
}
.search{
	position: relative;
}
.search input{
	padding:10px;
	border:none;
	border-radius:20px;
	background-color:#444;
	color:#fff;
}
.search button{
	position: absolute;
	top:0;
	right:0;
	padding:10px;
	border:none;
	border-radius:20px;
	background-color: #fff;
	color:#444;
	font-weight:bold;
}
.wrapper{
	width:80%;
	margin:50px auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	background-color: white;
}
.card{
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.image-section{
	height:250px;
	background-color: red;
}
.card .img-one{
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-two{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-three{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.content{
	padding:15px 10px;
	text-align:center;
}
.content h2{
	letter-spacing: 1.5px;
}
.content p{
	margin:15px 0px;
	font:size:15px;
}
.content a{
	font-family: sans-serif;
	text-decoration: none;
	font-size:16px;
	color:#fff;
	letter-spacing: 1.5px;
	display:inline-block;
	background-color: #a4bfbb;
	padding:10px 18px;
}
.content a:hover{
	background-color:#667875;
	transition:1s ease;
}

.card .img-four{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-five{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-six{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-sette{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-otto{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.card .img-nove{
	background-image: url("eng7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
}
.padding{
	background-color: #4c5251;
}
footer{
	background-color: #4c5251;
	color:white;
	font-size:23px;
	text-align: center;
}